#root {
  max-width: 1280px;
  margin: 0 auto;
  /*text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background: #282c34;
  color: white;
  display: block;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.header nav a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.header input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container {
  margin-top: 90px;
  margin-bottom: 90px;
}

.body {
  display: block;
  margin-top: 70px;
}
.card {
  padding: 2em;
}

li {
  list-style: none;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  position: relative;
  width: 200px;
  background: #222;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.1);
}

.favorite {
  font-size: 2em;
  padding: 0;
  color: yellow;
  position: absolute;
  right: 5px;
  top: 5px;
  background: transparent;
  border: none;
}

.favorite:hover {
  background: transparent;
  border: none;
}

.favorite:active {
  background: transparent;
  border: none;
}
.favorite:focus {
  outline: none;
  box-shadow: none;
}

.movie-image {
  width: 100%;
  border-radius: 8px;
}

.movie-title {
  font-size: 16px;
  margin: 10px 0 5px;
}

.movie-rating,
.movie-release {
  font-size: 14px;
  margin: 2px 0;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.add-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background: #f5f5f5;
  cursor: pointer;
}

.add-movie-button {
  text-decoration: none;
  color: black;
  font-size: 50px;
}

.add-movie {
  display: flex;
  height: 90% !important;
  background: #222;
  margin: auto;
  /*border: 1px solid #000;*/
}

.add-movie-button {
  display: flex;
  background: #222;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.addMovie, .editMovie {
  display: block;

  label, input, button {
    display: block;
    margin-bottom: 5px;
  }
}